<nav>
 <div class="nav-mobile-header">
  <button id="hamburger-btn" class="hamburger-btn">☰</button>
  <a href="/mo_data/index.html" class="mobile-home-link">MoData</a>
 </div>
 
  <div id="nav-menu" class="nav-menu">
 
 <a href="/mo_data/index.html" class="nav-link desktop-only">MoData</a>

  <div class="dropdown">
  <div class="dropdown-toggle">英雄 ▼</div>
  <div class="dropdown-content">
  <a href="/mo_data/hero/heroes.html">英雄清單</a>
  <a href="/mo_data/hero/hero-meal.html">英雄料理數值</a>
  <a href="/mo_data/hero/calculation.html">英雄數值計算</a>
  <a href="/mo_data/hero/awakening.html">覺醒技能</a>
  </div>
  </div>

  <div class="dropdown">
  <div class="dropdown-toggle">裝備 ▼</div>
  <div class="dropdown-content">
  <a href="/mo_data/equipment/equip-info.html">裝備資訊</a>
  <a href="/mo_data/equipment/processing.html">裝備加工</a>
  <a href="/mo_data/equipment/equip-slotting.html">裝備打洞</a>
  <a href="/mo_data/equipment/specialstones.html">符石配方</a>
  <a href="/mo_data/equipment/equip-combo.html">文片組合</a>
  <a href="/mo_data/equipment/runereset.html">文片重鑄</a>
  <a href="/mo_data/equipment/rune-combo.html">銘文組合</a>
  <a href="/mo_data/equipment/refine.html">加工精煉計算</a>
  </div>
  </div>

  <div class="dropdown">
  <div class="dropdown-toggle">任務 ▼</div>
  <div class="dropdown-content">
  <a href="/mo_data/quest/quest.html">一般任務</a>
  <a href="/mo_data/quest/quest-star.html">星曜任務</a>
  <a href="/mo_data/quest/quest-job.html">轉職任務</a>
  <a href="/mo_data/quest/quest-rebirth.html">轉生任務</a>
  </div>
  </div>

    <div class="dropdown">
   <div class="dropdown-toggle">卡片 ▼</div>
   <div class="dropdown-content">
    <a href="/mo_data/card/card-equip.html">裝備卡</a>
    <a href="/mo_data/card/card-active.html">主動技能卡</a>
    <a href="/mo_data/card/card-passive.html">被動技能卡</a>
    <a href="/mo_data/card/card-spirit.html">靈具卡</a>
   </div>
  </div>

<a href="/mo_data/map/map.html" class="dropdown">地圖</a>


  <div class="dropdown">
  <div class="dropdown-toggle">生產道具 ▼</div>
  <div class="dropdown-content">
  <a href="/mo_data/production/weapons.html">武器</a>
  <a href="/mo_data/production/equipment.html">防具</a>
  <a href="/mo_data/production/accessories.html">飾品</a>
  <a href="/mo_data/production/medicine.html">藥品</a>
  <a href="/mo_data/production/items.html">道具</a>
  <a href="/mo_data/production/works.html">工作</a>
  </div>
  </div>

  <div class="dropdown">
  <div class="dropdown-toggle">其他 ▼</div>
  <div class="dropdown-content">
  <a href="/mo_data/other/ultimate_ability.html">極限能力</a>
  <a href="/mo_data/other/garbage.html">垃圾名聲</a>
  <a href="/mo_data/other/exp.html">經驗需求</a>
  <a href="/mo_data/other/beautiful.html">美容院</a>
  </div>
  </div>

  <a href="/mo_data/sys/systems.html" class="dropdown">系統</a>
  </div> </nav>