<!-- nav.html: 共用導覽列元件 -->
<nav>
  <a href="index.html" class="nav-link">首頁</a>
  <div class="dropdown">
    <div class="dropdown-toggle">英雄 ▼</div>
    <div class="dropdown-content">
      <a href="heroes.html">英雄清單</a>
      <a href="heroeseat.html">英雄料理數值</a>
      <a href="/modules/calculation/calculation.html">英雄數值計算</a>
    </div>
	<div class="dropdown-toggle">裝備 ▼</div>
    <div class="dropdown-content">
      <a href="equipment.html">裝備</a>
      <a href="refine.html">精煉計算</a>
    </div>
  </div>
</nav>
